repos:

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: 'v4.4.0'
  hooks:
  - id: check-json

- repo: local
  hooks:
  - id: tox-lint
    name: check lints in tox
    entry: tox -e lint
    language: system
    types: [python]
    pass_filenames: false
  - id: ruff
    name: check files using ruff
    entry: ruff
    language: system
    exclude: "^doc\/"
    types: [python]
